.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 800px) {
        width: 100%;
        margin-bottom: 60px;
    }
    
    .title {
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 1.2;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            flex-direction: column;

            .sign-in-btn {
                margin-bottom: 10px;
            }
        }
    }
}