.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (max-width: 800px) {
        width: 100%;
        margin-bottom: 60px;
        max-width: 450px;
        margin: 0 auto 80px;
    }
    
    .title {
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 500;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            flex-direction: column;

            .sign-in-btn {
                margin-bottom: 10px;
            }
        }
    }

    .error {
        color: red;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        transition: opacity .5s ease-in-out;

        &.show {
            opacity: 1;
        }
    }

    .spinner {
        display: inline-block;
        width: 0;
        height: 0;
        border: none;
        border-radius: 50%;
        border-top-color: #636767;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        transition: width height border .5s ease-in-out;
        @keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }
        @-webkit-keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        &.show {
            width: 30px;
            height: 30px;
            border: 3px solid rgba(195, 195, 195, 0.6);
        }
    }
}