.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;

    @media screen and (max-width: 800px) {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .title {
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 1.2;
    }

    .error {
        color: red;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        transition: opacity .5s ease-in-out;

        &.show {
            opacity: 1;
        }
    }
}