.sign-in-and-sign-up {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }

    .sign-in-hero {
        background-image: url(../../assets/images/uniform_dark.jpg);
        background-size: cover;
        width: 100%;
        height: 550px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-transform: uppercase;
        position: relative;
        color: white;

        @media screen and (max-width: 800px) {
            padding: 60px 5% 60px;
            height: 50vh;
            background-position: center;
        }

        @media screen and (max-width: 550px) {
            justify-content: flex-end;
            padding-top: 100px;
            height: 38vh;
            align-items: flex-start;
            justify-content: flex-start;
            background-position: center top;
        }

        .sign-in-content {
            width: 60%;
            padding-left: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 800px) {
                padding-left: 20px;
            }

            @media screen and (max-width: 500px) {
                width: 70%;
                padding-left: 0;
                text-align: left;
            }

            .logo {
                height: 150px;
                width: auto;

                @media screen and (max-width: 800px) {
                    height: 75px;
                }
    
                @media screen and (max-width: 550px) {
                    display: none;
                }
            }
    
            h1 {
                margin: 0;
                padding-top: 1rem;
                text-align: center;
                font-size: 2.5rem;
                line-height: 1.2;
                font-weight: 500;
    
                @media screen and (max-width: 800px) {
                    font-size: 22px;
                }
    
                @media screen and (max-width: 550px) {
                    font-size: 16px;
                }
            }
        }
    }

    .flex-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 4rem;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            padding: 0 1rem;
        }
    }
}