.sign-in-and-sign-up {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;
    }
}