.cart-item {
  width: 100%;
  display: flex;
  height: auto;
  margin-bottom: 15px;

  img {
    width: 30%;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;

    .name, .price {
      font-size: .65rem;
    }

    .name {
      padding-bottom: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .price {
      font-weight: 700;
      color: #989898;
    }
  }
}
